doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    title Task

  body
    div(class='form-select')
      label(class='input-label h3') DropDown
      select(class='input input-box')
        option Test
        option Another test